html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  background-color: rgb(250, 250, 250);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  /* border: 5px solid blue; */
  margin: auto 10%;
}

#main_img {
  background-image: url("assets/photo-couch-min.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 0.2px solid;
}

.header {
  /* border: 2px solid red; */
  background-color: #111111;
  padding: 10px;
}
.info_box {
  /* border: 1px solid green; */
}
#info_head {
  /* border: 1px solid orange; */
  text-align: center;
}

#info_list {
  /* border: 3px solid orchid; */
  text-align: center;
  margin-bottom: 10%;
}
.info_num {
  border-bottom: 3px solid aqua;
  margin: auto 40%;
  font-size: xx-large;
}

.logo {
  /* border: 2px solid red; */
  height: 30px;
  filter: invert(97%) sepia(51%) saturate(5308%) hue-rotate(107deg)
    brightness(97%) contrast(107%);
}
#pitch {
  color: whitesmoke;
  margin: 40% auto 10%;
  font-size: medium;
}
#pitch_sub {
  font-size: larger;
}
#pitch_title {
  font-size: xx-large;
}
#start_btn {
  background-color: aqua;
  border-radius: 20px;

  font-weight: bold;
  font-size: medium;
  transition-property: font-size;
  transition-duration: 2000;
  transition-delay: 1000;
}
#start_btn:hover {
  background-color: cadetblue;
  font-size: larger;
}

/* mobile responsiveness for medium screens */
@media screen and (min-width: 600px) {
  .container {
    /* border: 5px solid blue; */
    margin: auto 5%;
  }
}
/* mobile responsiveness for large screens */
@media screen and (min-width: 992px) {
  .container {
    /* border: 5px solid blue; */
    margin: auto 10%;
  }
  .info_box {
    /* border: 1px solid green; */
    width: 24%;
    margin: auto;
    display: inline-block;
  }
}
